body{
font-family: Arial;
margin:0;
background:#07cfe1;
color:white;
}

header{
text-align:center;
padding:15px;
background:#15c2f6;
}

.main-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.card{
background:white;
color:black;
padding:20px;
width:300px;
border-radius:8px;
}

input{
padding:8px;
width:65%;
margin-top:10px;
}

button{
padding:8px 12px;
background:#0dd6f1;
border:none;
color:white;
cursor:pointer;
border-radius:4px;
}

button:hover{
background:#ede326;
}

#history button{
margin:5px;
padding:6px 10px;
}

.console-box{
background:white;
color:black;
margin:30px auto;
width:650px;
padding:15px;
border-radius:8px;
}

#consoleOutput{
background:#1b2450;
color:white;
padding:10px;
margin-top:10px;
border-radius:6px;
font-family:monospace;
}